[submodule "visionaray"]
	path = 3rdparty/visionaray
	url = https://github.com/HellmannM/visionaray.git
    branch = match
[submodule "deskvox"]
	path = 3rdparty/deskvox
    url = git@github.com:HellmannM/deskvox.git
    branch = ct-rg-matcher
