[submodule "visionaray"]
	path = 3rdparty/visionaray
    url = git@github.com:HellmannM/visionaray.git
    branch = match
[submodule "3rdparty/nlohmann_json"]
	path = 3rdparty/nlohmann_json
    url = https://github.com/nlohmann/json.git
[submodule "3rdparty/CmdLine"]
	path = 3rdparty/CmdLine
	url = https://github.com/abolz/CmdLine.git
[submodule "3rdparty/ITK"]
	path = 3rdparty/ITK
	url = https://github.com/InsightSoftwareConsortium/ITK.git
[submodule "src/dnn-registration"]
	path = dnn-registration
	url = git@github.com:HellmannM/dnn-registration.git
[submodule "src/anari-drr-viewer"]
	path = anari-drr-viewer
	url = git@github.com:HellmannM/anari-drr-viewer.git
	branch = drr
[submodule "src/anari-visionaray"]
	path = anari-visionaray
	url = git@github.com:HellmannM/anari-visionaray.git
	branch = drr
[submodule "testfiles"]
	path = testfiles
	url = git@github.com:HellmannM/xraygistration-testfiles.git
